*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-menu-mobile{
    all: unset;
    cursor: pointer;
}

.a-menu-mobile{
    text-decoration: none;
    display: block;
}

.ul-menu-mobile{
    list-style: none;
}